<?xml version="1.0" encoding="UTF-8"?>
<!-- -Dlogback.configurationFile=/path/to/config.xml -->
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%-5level] %logger{10}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.hyd" level="DEBUG"/>
</configuration>