div.service {
    display: inline-block;
    max-width: 20em;
    margin: 1em;
    padding: 0.5em;
    background-color: #009a5a;
    color: white;
}

div.service.dead {
    background-color: #722e2a;
}