<!doctype html>
<html lang="zh">
<head>
    <!-- http://10.10.22.212:32123/jar-runner.jar -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        div {
            font-size: 9pt;
        }
    </style>
    <link rel="stylesheet" href="css/block.css">
    <link rel="stylesheet" href="css/service.css">
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/components/node-info.js"></script>
    <script src="js/components/service-info.js"></script>
    <script src="js/index.js"></script>
    <script>
        let blocks, services;

        let queryData = function () {
            $.get("data", {}, function(result) {
                parseData(result, blocks, services);
            });
        };

        $(function () {
            blocks = new Vue({el: '#blocks', data: {nodes: []}});
            services = new Vue({el: '#services', data: {services: []}});
            queryData();
            setInterval(queryData, 5000);
        });

    </script>
    <title>SysMon</title>
</head>
<body>
<div id="message"></div>

<div id="blocks">
    <node-info v-for="node in nodes" :key="node.title" :node="node"></node-info>
</div>

<!-- type:"service", id:string, host:string, name:string, dead:boolean -->
<div id="services">
    <service-info v-for="service in services" :key="service.id" :service="service"></service-info>
</div>
</body>
</html>